<div id="tudo">
    {{>header}}
    <div id="content">
        {{#each postagens}}
        <div class="postagens">
            <form action="/admin/removeuPost/{{_id}}" method="POST">
            <h1>{{titulo}}</h1>
            <p>{{descricao}}</p>
            <small>{{data}}</small><br>
            <button type="submit">Remover</button>
            </form>
        </div>
        {{else}}

        {{/each}}

    </div>
    {{>footer}}
</div>